.detalles {
    background-color: white;
    padding: 5px 19px;
    border-radius: 5px;
  }

  .oferta {
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    font-size: 1.3rem;
}

.megusta {
  width: auto;
    position: absolute;
    right: 0;
    color: red;
    margin: 10px;
    font-size: 2rem;
    cursor: pointer;

}

.megusta:hover {
  color: black;
}